@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
body {
    font-family: 'Oxygen', sans-serif;
    color: rgb(255, 255, 255);
    height: 100vh;
    background: rgb(238, 69, 64);
    background: linear-gradient(
      180deg,
      rgba(238, 69, 64, 1) 0%,
      rgba(199, 44, 65, 1) 15%,
      rgba(128, 19, 54, 1) 30%,
      rgba(81, 10, 50, 1) 45%,
      rgba(45, 20, 44, 1) 100%
    );  
    margin: 1.5rem;  
  }

  .orden-general{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
  }
  .primer-orden{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .segundo-orden{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .card{
    text-align: center;
    border: solid rgb(80, 77, 77);
    border-radius: 10px;  
    
  }
.card:hover {
    box-shadow: 5px 10px 20px 1px rgba(255, 255, 255, 0.273) !important;
    transition: all 0.7s linear;
  }

  .card-titulo{
    font-size: 20px;
  }
  .card-texto{
    font-size: 15px;
  }
  
  .overflow {
    overflow: hidden;
    margin-top: 1rem;
  }
  
  .card-img {
    transform: scale(1);
    transition: all 0.2s ease-in-out;
    border-radius: 10px;
    width: 300px;
  }
  
  .card-img:hover {
    transform: scale(1.8);
  }
  .box{
    border: solid #f3ebeb;
    padding: 1rem;
    border-radius: 10px;
  }
  .box:hover {
    box-shadow: 5px 10px 20px 1px rgba(214, 210, 210, 0.273) !important;
    transition: all 0.7s linear;
  }


.boton-eliminar{
    background-color:#e02f28;
    border-radius:28px;
    border:1px solid #cf5310;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:14px;
    padding:8px 18px;
    text-decoration:none;
    text-shadow:0px 1px 0px #e03434;
  }
.boton-eliminar:hover {
    background-color:#fc0000;
  }
.boton-eliminar:active {
    position:relative;
    top:1px;
  }

.boton-eliminar-todo{
    background-color:#f7860d;
    border-radius:19px;
    border:1px solid #e65c12;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:13px;
    padding:5px 14px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ebbf11;
  }
.boton-eliminar-todo {
    background-color:#f78903;
  }
.boton-eliminar-todo:active {
    position:relative;
    top:1px;
  }

.boton-eliminar-uno{
      background-color:#ebbc00;
      border-radius:19px;
      border:1px solid #e6db12;
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-family:Arial;
      font-size:13px;
      padding:5px 14px;
      text-decoration:none;
      text-shadow:0px 1px 0px #decc09;
    }
.boton-eliminar-uno:hover {
      background-color:#decd16;
    }
.boton-eliminar-uno:active {
      position:relative;
      top:1px;
    }

    .boton-agregar {
      background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
      background-color:#44c767;
      border-radius:19px;
      border:1px solid #e6db12;
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-family:Arial;
      font-size:13px;
      padding:5px 14px;
      text-decoration:none;
      text-shadow:0px -1px 0px #2f6627;
      margin-bottom:1rem;
    }
    .boton-agregar:hover {
      background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
      background-color:#5cbf2a;
    }
    .boton-agregar:active {
      position:relative;
      top:1px;
    }

    